.inspiration .date {
	font-size: 60%;
	color: #666;
}

.shot-frame {
	width: 260px;
	height: 183px;
	background: url('../images/shot-frame.png') no-repeat top left transparent;
	padding: 5px;
	float: right;
	margin-left: 10px;
}

.save-later {
	border: 1px solid #cdcdcd;
	background: #eee;
	padding: 7px 15px 5px 15px;
	margin-bottom: 16px;
}

.save-later a {
	color: #cc0001;
	padding: 4px 0 0 0;
}

#send {
	float: left;
}

.save-later .twitter-share-button {
	margin-left: 25px;
}

.save-later .left a , .save-later .left div ,.save-later .left .twitter-share-button{
	float:left ;
}

.save-later .left div.fb-send{
	margin-left: 10px;
}

.inspiration #results p {
	margin: 0px;
}

p.inspiration-header {
	color: #ca0001;
	margin: 0 0 20px 0;
	padding: 0px;
	
}
.inspiration a.backlink {
	margin-right: 32px;
}

blockquote {
	width: 396px;
	min-height: 30px;
	padding: 0px 30px 0px 30px;
	margin: 10px 0;
	background: url('../images/blockquote.png') top left no-repeat #fff;
	font-size: 150%;
	color: #ca0001;
	font-style: italic;
	line-height: 120%;
}

div.inspiration{
	overflow: visible;
}


@media (max-device-width : 568px) {

span.date{
	
	font-size: 15px !important;
	padding-top: 10px !important;
	display: block;
}

.leader{
	
	font-size: 20px !important;
	line-height: 20px;
width: 260px !important;
padding: 0px !important;
margin: 0 auto !important;
padding-top: 10px !important;
text-align: center;
left: 0px !important;
}

.save-later{
	
	display: none;
}

.no-margin.left_col{
	
	margin-left: auto !important;
	margin-right: auto !important;
	width: 270px;
}

.block.inspiration{
	width: 300px !important;
	padding: 0px !important;
}
	.inspiration-header{
		
		width: 140px !important;
		white-space: nowrap;
		overflow: hidden;
		margin: 0px !important;
		margin-bottom: 10px;
		height: 50px;
		margin-left: 10px !important;
		padding-top: 10px !important;
		
	}
	
	.inspiration p {
		max-width: 260px;
		margin: 10px auto;
		font-size: 18px;
		line-height: 20px;
		
	}
	
	blockquote{
		
		width: 205px;
		background-size: contain;
		margin: 0 auto;
		font-size: 15px;
	}
	
	.left iframe{
		
		height: 200px;
		width: 230px;

	}
	
	.inspiration div.right{
		
		float: none;
		width: 260px !important;
		margin: 20px auto;
	}
	
	.inspiration div.right div{
		
		width: 80px !important;
		float: left;
		margin-left: 5px !important;
	}
	
	.inspiration div.left{
		
		float: none;
		overflow: hidden;
		margin: 0 auto !important;
	}
	
	img[src="/images/play_small.png"]{
		
		display: none;
	}


}